h1{
    text-align: center;
    font-size: 50px;
    color: Red;
    font-family: 'Courier New', Courier, monospace;
}
div{
    display: inline-block;
}
main{
    display: block;
    display: grid;
    grid-template-columns: 30% 25% 30%;
}
p{
    display: inline;
}
div{
    display: grid;
}